@import url('https://fonts.googleapis.com/css?family=Nunito|Work+Sans:300');

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Work Sans', sans-serif;
  background-color: #aaccff;
  background-image: url("bg.png");
  background-attachment: fixed; 
	background-size: cover;
	display: grid;
	align-items: center;
	height: 100vh;
}

.heading {
  background-color: #3388ff;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  box-shadow: 1px 1px 10px black;
  font-family: 'Nunito', sans-serif;
  z-index: 5;
}

.heading h1 {
  background-color: #2277dd;
  padding: 5px;
  border-radius: 10px;
  margin-left: 20px;
  float: left;
  /*box-shadow: 3px 3px 3px #222233;*/
}

.toolbar {
  list-style-type: none;
  padding: 0;
  /*float: right;*/
  overflow: hidden;
  /*background-color: #555566;*/
}

.toolbaritem {
  float: right;
}

.toolbaritem a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #2277dd;
  border-radius: 10px;
  margin: 5px 10px 0px 0px;
  transition: .3s;
}

.toolbaritem a:hover {
  background-color: #3ea743;
}

.button, button {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #2277dd;
  border-radius: 10px;
  transition: .3s;
}

.button:hover, button:hover {
  background-color: #3ea743;
}

.offset-heading {
  margin-top: 130px;
}

.grid1, .grid2, .grid3, .grid4 {
  background: inherit;
}

.grid1 {
  grid-template-columns: auto;
}

.grid2 {
  grid-template-columns: auto auto;
}

.grid3 {
  grid-template-columns: auto auto auto;
}

.grid4 {
  grid-template-columns: auto auto auto auto;
}

.boxcenter {
  width: 900px;
  margin: 50px auto;
  margin-top: 0px;
}

.box:before {
	content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	filter: blur(3px);
  margin: -20px;
}

.blurcontent {
  background: inherit;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .3);
  z-index: 1;
  overflow: hidden;
}

.box {
  border-radius: 10px;
  position: relative;
  padding: 20px;
  padding-top: 15px;
  margin-top: 30px;
  
}

.bluebox {
  border-top: 5px solid #3388ff;
}
.redbox {
  border-top: 5px solid #ff8833;
}

@media screen and (max-width: 900px) {
  .boxcenter {
    width: 100%;
  }
}